.wrap {
  position: relative;
}

.btnHeart {
  position: absolute;
  top: 14px;
  right: 14px;
  background-color: transparent;
  border: none;
}

.imgCar {
  margin-bottom: 14px;
  border-radius: 14px;
  width: 274px;
  object-fit: cover;

  height: 268px;
  background: #f3f3f2,
    linear-gradient(
      180deg,
      rgba(18, 20, 23, 0.5) 0%,
      rgba(18, 20, 23, 0.5) 100%
    );
}

.title {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #121417;

  .span {
    color: #3470ff;
  }
}

.wrapTitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.text {
  position: relative;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: rgba(18, 20, 23, 0.5);
}

.text:not(:last-child)::after {
  display: block;
  position: absolute;
  /* margin-left: 6px; */
  right: -6px;
  top: 0;
  content: '';
  height: 100%;
  width: 1px;
  background-color: rgba(18, 20, 23, 0.1);
}

.wrapText {
  display: flex;
  flex-wrap: wrap;
  column-gap: 12px;
  row-gap: 4px;
}

.cardBtn {
  margin-top: 28px;
  width: 100%;
}
