.wrap {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: lightblue;
  width: 100%;
  padding: 20px;
  border-radius: 8px;
}

form {
  display: flex;
  gap: 8px;
}

.label {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: #8a8a89;
}

.select {
  border-radius: 14px;
  padding: 14px 89px 14px 18px;
  width: 224px;
  height: 44px;
  border: none;
}
