.modalWrapper {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(18, 20, 23, 0.5);
}

.modalContent {
  position: relative;
  background-color: white;
  padding: 40px;
  overflow-y: auto;
  border-radius: 24px;
  width: 541px;
}

.closeButton {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
