.catalog {
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  row-gap: 50px;
  column-gap: 29px;
  list-style-type: none;
}

.listItem {
  flex-basis: calc((100% - 29px * 3) / 4);
}
