@import-normalize; /* bring in normalize.css styles */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.link {
  color: white;
  text-align: center;
  text-decoration: none;
  transition: color 0.3s ease;
  &:hover {
    background-color: #0b44cd;
  }
}

.link.active {
  color: black;
  text-decoration: underline;
}

.list {
  list-style-type: none;
}

.btn {
  border-radius: 12px;
  border-color: transparent;
  padding: 12px;
  width: 168px;
  height: 44px;

  background-color: #3470ff;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.42857;
  color: #fff;
  display: block;
  cursor: pointer;
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.btn:hover,
.btn:focus {
  background: #0b44cd;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding: 50px 0;
}

.container {
  width: 1440px;
  padding: 0 128px;
}

.btnHeart {
  stroke: #fff;
  fill: none;
}

.btnHeartFav {
  fill: #3470ff;
}
